//modal comment
.form__comment {
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: pointer;
  width: 100%;
  padding: 12px;
  border: 1px solid var(--border-form);
  border-radius: 4px;
  resize: none;

  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: var(--animation);
  &:hover,
  &:focus {
    border-color: var(--accent-text-color);
  }
  &:focus {
    outline: var(--accent-text-color);
  }
}

.placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1, 16;
  letter-spacing: 0.01em;
}

.form__agreement {
  margin-bottom: 30px;
}
