/*Постоянные клиенты*/

.clients__titel {
  text-align: center;
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.17;
  color: var(--titel-text-color);

  @media screen and(min-width: 1200px) {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
  }
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.clients__cards {
  width: 100%;

  @media screen and(min-width: 480px) {
    flex-basis: calc((100% - 30px) / 2);
  }

  @media screen and(min-width: 768px) {
    flex-basis: calc((100% - 60px) / 3);
  }
  @media screen and(min-width: 1200px) {
    flex-basis: calc((100% - 150px) / 6);
  }
}

.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;

  transition-property: fill, border-color;
  transition-duration: 250ms;
  transition-timing-function: var(--animation);

  &:hover,
  &:focus {
    border-color: var(--accent-text-color);
  }

  &:hover > .clients__logo,
  &:focus > .clients__logo {
    fill: var(--accent-text-color);
  }
}

.clients__logo {
  width: 106px;
  height: 60px;
  fill: var(--icon-color);

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--animation);

  &:hover,
  &:focus {
    fill: var(--accent-text-color);
  }
}
