/*Особенности*/
.features {
  // max-width: 1200px;
  margin: auto;
}

.features__section {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  // margin-top: 0;
  // margin-bottom: 0;
}

.features__list {
  width: 100%;
  letter-spacing: 0.03em;

  @media screen and(min-width: 768px) {
    flex-basis: calc((100% - 30px) / 2);
  }

  @media screen and(min-width: 1200px) {
    flex-basis: calc((100% - 90px) / 4);
  }

  // margin-right: 30px;
  // width: 270px;

  // &:last-child {
  //   margin-right: 0;
  // }
}

.features__list__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--filter-btn-tim-fon);
  border-radius: 4px;
  padding: 0;
  margin-bottom: 30px;
  // width: 270px;
  height: 120px;
}

.features__icon {
  margin: 0px;
  width: 70px;
  height: 70px;
}

.titel {
  margin-bottom: 10px;
  color: var(--titel-text-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  @media screen and(max-width: 767px) {
    text-align: center;
  }
}

.features__about {
  color: var(--primery-text-color);
  line-height: 1.71;
  letter-spacing: 0, 03em;
}
