/*Логотип страницы*/

$logo-imeg-gradient: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));

.logo__section {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-color: var(--section-fond-color);

  max-width: 1600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;

  background-size: cover;
  background-repeat: no-repeat;

  background-image: $logo-imeg-gradient, url(/imeges/hero/header_sm.png);
  background-image: -webkit-image-set(url(/imeges/hero/header_sm.webp) 1x);

  @include mq(retina) {
    background-image: $logo-imeg-gradient, url(/imeges/hero/header_sm@2x.png);
    background-image: -webkit-image-set(url(/imeges/hero/header_sm@2x.webp) 2x);
  }

  @include mq(tablet) {
    background-image: $logo-imeg-gradient, url(/imeges/hero/header_md.png);
    background-image: -webkit-image-set(url(/imeges/hero/header_md.webp) 1x);

    @include mq(retina) {
      background-image: $logo-imeg-gradient, url(/imeges/hero/header_md@2x.png);
      background-image: -webkit-image-set(url(/imeges/hero/header_md@2x.webp) 2x);
    }
  }

  @include mq(desktop) {
    background-image: $logo-imeg-gradient, url(/imeges/hero/header_lg.jpg);
    background-image: -webkit-image-set(url(/imeges/hero/header_lg.webp) 1x);

    @include mq(retina) {
      background-image: $logo-imeg-gradient, url(/imeges/hero/header_lg@2x.png);
      background-image: -webkit-image-set(url(/imeges/hero/header_lg@2x.webp) 2x);
    }
  }
}

.logo__titel {
  max-width: 360px;
  width: 100%;
  margin: auto;
  color: var(--text-color-logo-adres-btn);
  font-size: 26px;
  font-weight: 900;
  line-height: 1.62;
  letter-spacing: 0.06em;
  font-family: Roboto;
}

.logo__btn {
  margin-top: 30px;
  padding: 10px 32px;
  min-width: 13px;
  color: var(--text-color-logo-adres-btn);
  background-color: var(--accent-text-color);
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  line-height: 1.87;
  align-items: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: 0;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--animation);

  &:hover,
  &:focus {
    background-color: var(--logo-btn-hover);
  }
}
