/*Команда   */
.team {
  background-color: var(--filter-btn-tim-fon);
}

.team__titel {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;

  @media screen and(min-width: 1200px) {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
  }
  &,
  .titel {
    color: var(--titel-text-color);
  }
}

.team__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.team__section {
  width: 100%;
  text-align: center;
  border-radius: 0px 0px 4px 4px;
  box-shadow: var(--box-shedov);
  background: var(--main-background-color);
  &:last-child {
    margin-right: 0;
  }

  @media screen and(min-width: 768px) {
    flex-basis: calc((100% - 30px) / 2);
  }

  @media screen and(min-width: 1200px) {
    flex-basis: calc((100% - 90px) / 4);
  }
}
.team__img {
  margin-bottom: 30px;
  width: 100%;
}
.team__titel__person {
  margin-bottom: 10px;
  color: var(--titel-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.team__position {
  margin-bottom: 16px;
  color: var(--primery-text-color);
  font-size: 16px;
  line-height: 1.18;
}
