/*Социальные сети футер*/
.footer__social__list {
  margin-left: 70px;
}

.footer__titel__link {
  margin-bottom: 20px;
  color: var(--text-color-logo-adres-btn);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer__socials {
  display: flex;
  gap: 10px;
}

/* .footer_link_list {
  margin-right: 10px;
} */

.footer__link__list:last-child {
  margin-right: 0px;
}

.footer__linc__icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background-color: var(--footer-icon);

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--animation);
  &:hover,
  &:focus {
    background-color: var(--accent-text-color);
  }
}
.footer__icon {
  fill: var(--text-color-logo-adres-btn);
}
