/*Подписка на рассылку*/
.sub {
  @media screen and(max-width: 1199px) {
    margin-top: 60px;
  }

  @media screen and(min-width: 1200px) {
    margin-left: 95px;
  }
}

.footer__sub__titel {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-background-color);

  @media screen and (max-width: 1200px) {
    text-align: center;
  }
}

.footer__sub {
  outline: transparent;
  width: 100%;
  height: 50px;
  padding-left: 16px;
  margin-bottom: 20px;
  border-radius: 4px;
  color: var(--main-background-color);
  background-color: var(--section-fond-color);
  border: 1px solid var(--border-shedov);

  @media screen and (max-width: 477px) {
    max-width: 450px;
  }

  @media screen and (min-width: 468px) {
    width: 450px;
  }

  @media screen and (min-width: 1200px) {
    width: 358px;
    margin-bottom: 0;
  }
}

.footer__sub__grup {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 468px) {
    align-items: center;
  }

  @media screen and(min-width: 1200px) {
    flex-direction: row;
  }
}

.footer__sub__btn {
  display: flex;
  align-items: center;

  gap: 10px;
  width: 200px;
  height: 50px;

  background: var(--accent-text-color);
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
  border-radius: 4px;
  color: var(--main-background-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  padding-left: 28px;
  padding-right: 28px;
  padding-right: 0;
  border: transparent;
  cursor: pointer;

  @media screen and(max-width: 767px) {
    margin: 0 auto;
  }

  @media screen and(min-width: 1200px) {
    margin-left: 12px;
  }
}

/* margin-top: 0px;
  padding: 0px;
  width: 200px;
  height: 50px;
  border:none;
  border-radius: 4px;
  background-color: var(--accent-text-color);
   */

.footer__btn__svg {
  width: 24px;
  height: 24px;
}
