*,
*::before *::after {
  box-sizing: border-box;
}

/*Основные правки для всей страницы*/
body {
  background-color: var(--main-background-color);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: var(--primery-text-color);
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
