.menu-btn {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 40px;
  height: 40px;
  cursor: pointer;

  background-color: transparent;
  border: transparent;
  outline: transparent;
  z-index: 99;

  transition-property: fill, border-color;
  transition-duration: 250ms;
  transition-timing-function: var(--animation);

  &:hover,
  &:focus {
    fill: var(--accent-text-color);
  }

  @media screen and (min-width: 768px) {
    display: none;
  }

  &__icon {
    width: 40px;
    height: 40px;

    &-open {
      opacity: 0;
      width: 24px;
      height: 16px;
    }

    &-close {
      opacity: 1;
    }
  }
}

.menu-btn.is-active .menu-btn__icon-open {
  opacity: 1;
}

.menu-btn.is-active .menu-btn__icon-close {
  opacity: 0;
}

.mobile-nav__link {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  letter-spacing: 0.02em;
}
