.menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 99;
  position: absolute;
  right: 0;

  background-color: transparent;
  border: transparent;
  outline: transparent;

  transition-property: fill, border-color;
  transition-duration: 250ms;
  transition-timing-function: var(--animation);

  @media screen and (min-width: 768px) {
    display: none;
  }
}
.menu-btn__icon {
  width: 40px;
  height: 40px;
}

.menu-btn__icon-open {
  opacity: 1;
  width: 24px;
  height: 16px;
}

.menu-btn__icon-close {
  opacity: 0;
}

.menu-btn.is-active {
  position: fixed;
}
.menu-btn.is-active .menu-btn__icon-open {
  opacity: 0;
}
.menu-btn.is-active .menu-btn__icon-close {
  opacity: 1;
}

.menu-btn:hover,
.menu-btn:focus {
  fill: var(--accent-text-color);
}

// .menu-btn.is-open .menu-btn__icon-open {
//   opacity: 1;
// }

// .menu-btn.is-open .menu-btn__icon-close {
//   opacity: 0;
// }

.menu-btn__icon.is-active .menu-btn__icon-open {
  opacity: 1;
}

.menu-btn__icon.is-active .menu-btn__icon-close {
  opacity: 0;
}
